section {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100vw;
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 623px;
}

form h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 24px;
  color: var(--dark-10);
  margin-bottom: 48px;
}

/* detalhes da conta */

#account .details-account {
  display: flex;
  flex-direction: column;
}

#account .details-account label {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--dark-30);
  margin-bottom: 8px;
}

#account .details-account input {
  width: 100%;
  height: 57px;
  padding: 20px;
  font-size: 1.4rem;
  color: var(--dark-10);
  border-radius: 4px;
  background-color: var(--dark-50);
  border: 1px solid var(--dark-40);
  outline: none;
  margin-bottom: 20px;
}

/*  */

.btn-subscription {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 40px 0;
}

.btn-subscription a {
  padding: 18px 24px;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--dark-10);
  background-color: transparent;
}

.btn-subscription button {
  padding: 18px 24px;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: var(--brand-color);
  color: #f7fafc;
  border: none;
}

hr {
  border: 1px solid #e2e8f0;
}

.btn-buy {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 40px 0;
}

.btn-buy a {
  padding: 18px 24px;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--red);
  background-color: transparent;
}

.btn-buy button {
  padding: 18px 24px;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: var(--brand-color);
  color: #f7fafc;
  border: none;
}

/* detalhes de envio */
#shipping .details-address {
  display: flex;
  flex-direction: column;
}

#shipping .details-address label {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--dark-30);
  margin-bottom: 10px;
}

#shipping .details-address select,
#shipping .details-address input {
  width: 100%;
  height: 57px;
  padding: 20px;
  font-size: 1.4rem;
  color: var(--dark-10);
  border-radius: 4px;
  background-color: var(--dark-50);
  border: 1px solid var(--dark-40);
  outline: none;
  margin-bottom: 20px;
}

#shipping .details-address .number-state {
  display: flex;
  justify-content: space-between;
}

/* detalhes de pagamento */
#payment .details-payment {
  display: flex;
  flex-direction: column;
}

#payment .details-payment label {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--dark-30);
  margin-bottom: 10px;
}

#payment .details-payment select,
#payment .details-payment input {
  width: 100%;
  height: 57px;
  padding: 20px;
  font-size: 1.4rem;
  color: var(--dark-10);
  border-radius: 4px;
  background-color: var(--dark-50);
  border: 1px solid var(--dark-40);
  outline: none;
  margin-bottom: 20px;
}

#payment .details-payment .number-cvc {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.number-cvc .details-number {
  display: flex;
  gap: 15px;
}

.number-cvc .details-number span {
  font-size: 30px;
  text-align: center;
}
