#account,
#payment {
  display: none;
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100vw;
  max-width: 1920px;
  padding: 10px;
  border-bottom: 1px solid #e2e8f0;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  max-width: 1280px;
}

.header-nav div {
  display: flex;
  align-items: center;
  gap: 64px;
}

.header-nav div .logo {
  font-size: 2rem;
  font-weight: 700;
  line-height: 24px;
  color: var(--dark-20);
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 48px;
}

.header-menu li a {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19px;
  color: var(--dark-20);
}

.header-cart {
  display: flex;
  align-items: center;
  gap: 64px;
}

.header-cart p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19px;
  color: var(--dark-20);
  text-align: center;
}

.header-cart p i {
  width: 20px;
  height: 20px;
  color: var(--dark-20);
  margin-left: 0.5rem;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 1920px;
  height: calc(100vh - 80px);
  padding: 10px;
}

main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  max-width: 1280px;
  height: 100%;
}

/* resumo do pedido */
#order-summary {
  height: 100%;
  width: 484px;
}

#order-summary .order-title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 24px;
  color: var(--dark-10);
  margin-bottom: 48px;
}

#order-summary img {
  width: 100%;
  height: 150px;
  border-radius: 12px;
}

#order-summary .description {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.description .description-title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 24px;
  color: var(--dark-10);
  margin-top: 10px;
}

.description div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
}

.description div p {
  font-size: 2rem;
  line-height: 24px;
}

.count-content .price {
  font-weight: 700;
  color: var(--dark-10);
}

.description .count {
  gap: 13px;
}

.description .count i {
  width: 40px;
  height: 40px;
  color: var(--dark-20);
  background-color: var(--dark-50);
  border: 1px solid var(--dark-50);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.description .discount-input {
  display: flex;
}

.description .discount-input input {
  width: 350px;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #f3efef;
  padding: 20px;
  background-color: var(--dark-50);
}

.description .discount-input input[placeholder] {
  color: var(--dark-30);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 19px;
}

.description .discount-input .btn-apply {
  padding: 20px 24px;
  border: 2px solid var(--brand-color);
  background-color: var(--white);
  color: var(--brand-color);
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19px;
}

.description .table-prices {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.description .table-prices div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 22px;
}

.description .table-prices .tax,
.description .table-prices .shipping,
.description .table-prices .total {
  font-size: 1.8rem;
  font-weight: 500;
}

.description .table-prices .tax p:nth-child(1),
.description .table-prices .shipping p:nth-child(1) {
  color: var(--dark-20);
}

.description .table-prices .tax p:nth-child(2) {
  color: var(--dark-10);
}

.description .table-prices .shipping p:nth-child(2) {
  color: var(--brand-color);
}

.description .table-prices .total p {
  font-weight: 600;
  color: var(--dark-10);
}
